<footer class="footer">
  <div class="footer-container">
    <div class="footer-box">

      <div class="footer-left">
        <div class="footer-logo">
          <img src="./img/logo.svg" alt="YogaBloom logo">
    
        </div>

        <p class="footer-text">
     Subscribe to our newsletter for the latest updates on our yoga clases and events.
        </p>

        <form class="footer-form">
          <input type="email" placeholder="Placeholder">
          <button type="submit">Join</button>
        </form>

        <p class="footer-policy">
          By subscribing, you consent to our Privacy Policy and agree to receive updates.
        </p>
      </div>


      <div class="footer-right">
      <div class="footer-links">
        <h4>Quick Links</h4>
        <ul>
          <li><a href="#">Yoga Classes</a></li>
          <li><a href="#">Team</a></li>
          <li><a href="#">Pricing</a></li>
          <li><a href="#">Contacts</a></li>
        </ul>
      </div>

      <div class="footer-social">
        <h4>Connect With Us</h4>
        <ul>
          <li>
            <a href="#">
            <img src="./img/facebook.svg" alt="Facebook icon">
            Facebook</a></li>
          <li>
            <a href="#">
                
                <img src="./img/instagram.svg" alt="Instagram icon">
                Instagram</a></li>
          <li>
            <a href="#">
                <img src="./img/linkedin.svg" alt="LinkedIn icon">
                LinkedIn</a></li>
          <li>
            <a href="#">
                <img src="./img/youtube.svg" alt="YouTube icon">
                YouTube</a></li>
        </ul>
      </div>
      </div>
         <div class="footer-copy">
        © 2025 Yoga Studio. All rights reserved.
</div>
    </div>
  </div>

</footer>
