<section id="gallery" class="gallery">
  <div class="container">
    <h2 class="gallery-title">Breathe in the Space</h2>
    <p class="gallery-text">
      Step inside YogaBloom and feel the calm. Explore our serene studio and the
      peaceful moments our community shares during each session.
    </p>
    <ul class="gallery-list">
      <li class="gallery-item">
        <picture class="gallery-picture">
          <source
            srcset="../img/11.webp 1x, ../img/11-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/11-tablet.webp 1x, ../img/11-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/11-mobile.webp 1x, ../img/11-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="../img/11-mobile.webp"
            alt="Yoga class with people practicing poses"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="../img/12.webp 1x, ../img/12-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/12-tablet.webp 1x, ../img/12-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/12-mobile.webp 1x, ../img/12-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="../img/12-mobile.webp"
            alt="People meditating in peaceful environment"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="../img/13.webp 1x, ../img/13-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/13-tablet.webp 1x, ../img/13-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/13-mobile.webp 1x, ../img/13-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="../img/13-mobile.webp"
            alt="Serene yoga studio interior"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="../img/14.webp 1x, ../img/14-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/14-tablet.webp 1x, ../img/14-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/14-mobile.webp 1x, ../img/14-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            width="156"
            height="156"
            src="../img/14-mobile.webp"
            alt="Peaceful yoga studio space"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="../img/15.webp 1x, ../img/15-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/15-tablet.webp 1x, ../img/15-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/15-mobile.webp 1x, ../img/15-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="../img/15-mobile.webp"
            alt="Community meditation session"
            class="gallery-img"
          />
        </picture>
      </li>
      <li class="gallery-item">
        <picture>
          <source
            srcset="../img/16.webp 1x, ../img/16-2x.webp 2x"
            media="(min-width: 1336px)"
          />
          <source
            srcset="../img/16-tablet.webp 1x, ../img/16-tablet-2x.webp 2x"
            media="(min-width: 768px)"
          />
          <source
            srcset="../img/16-mobile.webp 1x, ../img/16-mobile-2x.webp 2x"
            media="(max-width: 767px)"
          />
          <img
            src="../img/16-mobile.webp"
            alt="Peaceful yoga practice moment"
            class="gallery-img"
          />
        </picture>
      </li>
    </ul>
  </div>
</section>
