<header class="page-header">
    <div class="container header-container">

        <button type="button" class="burger-btn" data-menu-open aria-label="open menu">
            <svg class="burger-icon" width="24" height="24">
                <use href="../img/burger-menu.svg"></use>
            </svg>
        </button>
        
        <nav class="header-nav">
            <ul class="nav-list">
                <li class="nav-item"><a class="nav-link current" href="./index.html">Yoga Classes</a></li>
                <li class="nav-item"><a class="nav-link" href="#team">Team</a></li>
                <li class="nav-item"><a class="nav-link" href="#testimonials">Testimonials</a></li>
                <li class="nav-item"><a class="nav-link" href="#pricing">Pricing</a></li>
                <li class="nav-item"><a class="nav-link" href="#contacts">Contacts</a></li>
            </ul>
        </nav>

        <div class="header-logo">
        <svg class="logo"  width="84" height="23">
          <use class="header-logo-icon" href="../img/logo.svg"></use>
        </svg>
        </div>

        <button type="button" class="join-btn" href="#join">Join now</button>
    </div>
</header>
