<section class="pricing">
    <div class="container">

        <div class="pricing-title">
            <p class="title-text">Affordable</p>
            <div class="pricing-title-wrap">
                <h2 class="title-pricing-plans">Pricing Plans</h2>
                <p class="pricing-text">Choose the perfect plan for your yoga journey.</p>
            </div>
        </div>

        <div class="pricing-cards-wrap">
            <div class="pricing-card">
                <p class="pricing-card-text">One Session</p>
                <span class="pricing-card-price">$10</span>
                <ul class="pricing-card-list">
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">1 group session</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">10% discount for next 2 Sessions</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">Community support group</p>
                    </li>
                </ul>
                <button type="submit" class="pricing-card-btn">Join</button>
            </div>
            <div class="pricing-card">
                <p class="pricing-card-text">8 Sessions Package</p>
                <span class="pricing-card-price">$65</span>
                <ul class="pricing-card-list">
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">6 Group Sessions</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">2 Individual Sessions</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">Priority customer support</p>
                    </li>
                </ul>
                <button type="submit" class="pricing-card-btn">Join</button>
            </div>
            <div class="pricing-card wide-card">
                <div class="pricing-card-left">
                    <p class="pricing-card-text">12 Sessions Package</p>
                    <span class="pricing-card-price">$80</span>
                    <button type="submit" class="pricing-card-btn wide-card-btn">Join</button>
                </div>
                <ul class="pricing-card-list">
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">8 Group Sessions</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">4 Individual Sessions</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">Monthly yoga challenges</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">Exclusive member discounts</p>
                    </li>
                    <li class="pricing-card-item">
                        <svg class="pricing-item-icon" width="24" height="24">
                            <use href="/img/sprite.svg#icon-Check"></use>
                        </svg>
                        <p class="pricing-item-text">Community support group</p>
                    </li>
                </ul>
                <button type="submit" class="pricing-card-btn btn-mob">Join</button>
            </div>
        </div>
    </div>
</section>