<section class="yoga-classes-section">
  <div class="container">
    <p class="yoga-top-text">Explore</p>
    <h2 class="yoga-section-title">Discover Our Most Popular Yoga Programs</h2>
    <p class="yoga-bottom-text">
      Join our community and elevate your practice with our expertly designed
      yoga programs. Each course is tailored to meet various skill levels and
      personal goals.
    </p>
    <ul class="yoga-list">
      <li class="yoga-item">
        <picture>
          <source
            media="(min-width: 1336px)"
            srcset="../images/nazar.png 1x, ../images/how-its-made.jpg 2x"
          />
          <source
            media="(min-width: 768px)"
            srcset="../images/olena.png 1x, ../images/how-its-made.jpg 2x"
          />
          <source
            media="(max-width: 767px)"
            srcset="../images/viktoria.png 1x, ../images/how-its-made.jpg 2x"
          />
          <img src="../images/semi-sweet.png" alt="semi-sweet" />
        </picture>
        <h3 class="yoga-item-title">Beginner Yoga: Foundations</h3>
        <p class="yoga-item-text">
          Learn the basics of yoga in a supportive environment.
        </p>
      </li>
      <li>
        <h3 class="yoga-item-title">
          Vinyasa Flow: Energize Your Body and Mind
        </h3>
        <p class="yoga-item-text">
          Experience a dynamic sequence that connects breath and movement.
        </p>
      </li>
      <li>
        <h3 class="yoga-item-title">
          Restorative Yoga: Deep Relaxation and Healing
        </h3>
        <p class="yoga-item-text">
          Unwind and rejuvenate with gentle poses and mindfulness.
        </p>
      </li>
    </ul>
    <a class="yoga-link" href="#pricing">Join now</a>
  </div>
</section>
