*,
*::before,
*::after {
  box-sizing: border-box;
}

.container {
  max-width: 375px;
  width: 100%;
  padding: 0 16px;
  margin: 0 auto;
}

.about {
  background: #dfebeb;
  padding: 48px 0;
}
.about__title {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 40px;
  line-height: 1.2;
  letter-spacing: 0.01em;
  color: #0d0b0a;
  text-align: center;
  margin-bottom: 20px;
}
.about__subtitle {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  text-align: center;
  margin-bottom: 48px;
  color: #0d0b0a;
}
.about__list {
  list-style: none;
  padding: 0;
  margin: 0 0 20px 0;
  display: flex;
  flex-direction: column;
  gap: 48px;
}
.about__item h3 {
  font-family: 'Cabin', sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 1.4;
  letter-spacing: 0.01em;
  text-align: center;
  margin-bottom: 20px;
}
.about__item p {
  font-family: 'Sarabun', sans-serif;
  font-size: 16px;
  line-height: 1.6;
  letter-spacing: 0.01em;
  text-align: center;
  margin: 0;
}
.about__button {
  display: block;
  width: 100%;
  max-width: 343px;
  margin: 0 auto;
  padding-block: 10px;
  text-align: center;
  text-decoration: none;
  background-color: #c2d9fc;
  color: #fff;
  border-radius: 100px;
  font-family: 'Sarabun', sans-serif;
  font-weight: 500;
  font-size: 16px;
  line-height: 1.6;
  color: #0d0b0a;
  cursor: pointer;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.about__button:focus {
  opacity: 0.5;
  outline: none;
}

.about__button:active {
  border: 1px solid #868584;
}

@media screen and (min-width: 768px) {
  .container {
    max-width: 768px;
  }

  .about {
    padding: 64px 0;
    background-color: #f2fafa;
  }

  .about__title {
    font-size: 40px;
    margin-bottom: 24px;
  }

  .about__subtitle {
    font-size: 18px;
    margin-bottom: 40px;
  }

  .about__list {
    flex-direction: row;
    flex-wrap: wrap;

    column-gap: 24px;
    row-gap: 48px;
    margin-bottom: 40px;
  }
  .about__item {
    width: calc((100% - 24px) / 2);
  }
  .about__item h3 {
    white-space: nowrap;
    margin-bottom: 0;
  }

  .about__button {
    max-width: 110px;
  }
}
@media screen and (min-width: 1336px) {
  .container {
    max-width: 1336px;
  }

  .about {
    padding: 96px 0;
  }

  .about__title {
    font-size: 52px;
  }

  .about__list {
    align-items: flex-start;
  }
  .about__item {
    width: calc((100% - 72px) / 4);
  }
  .about__item h3 {
    font-size: 28px;
    max-width: 310px;
    margin-bottom: 24px;
    text-align: center;
    white-space: normal;
  }
}
