:root {
    font-family: "Sarabun", sans-serif;
  

  color: #0d0b0a;







  font-synthesis: none;
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  -webkit-text-size-adjust: 100%;
}

body {
  display: flex;
  flex-direction: column;
  min-width: 100vw;
  min-height: 100vh;
  margin: 0;
  background-color: #f2fafa;
}

main {
  flex-grow: 1;
}
